.icon-wrapper:nth-last-child(5),
.primary:first-child,
.primary ~ .icon-wrapper {
  border: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  background-color: lightblue;
  border: solid 1px;
  border-radius: .5em;
  padding: 0;
  min-width: 2.5em;
  min-height: 2.5em;
}

.operation {
  min-width: 3em;
  min-height: 3em;
}

.operation > * {
  width: 2em;
  height: 2em;
  fill: #424242;
}
