.view {
  min-height: 100vh;
  position: relative;
}

section {
  margin: 2em 4em;
  padding: 1em;
  background-color: #c1f0ed;
  border-radius: .5em;
}

section > * {
  margin: 1em;
  padding: 1em;
  background-color: ghostwhite;
  border-radius: .5em;
}

section > *:not(:last-child) {
  margin-bottom: 2em;
}

.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 800px) {
  section {
    margin: 1em 0;
    padding: .5em;
  }

  section > * {
    margin: .5em;
    padding: .5em;
  }

  section > *:not(:last-child) {
    margin-bottom: .5em;
  }
}
